<div class="row">
  <% posts.forEach( (element) => { %>
    <div class="col-md-4 mb-3 mt-3">
      <div class="card  border-secondary" style="max-width: 15rem;">
        <div class="card-header">
          <%= element.user.name %> 
        </div>
        <div class="card-body">
          <h4 class="card-title">
            <%= element.title %> 
          </h4>
          <p class="card-text">
            <%- element.body %>
          </p>
        </div>
      </div>
      </div>
    <% }) %> 
</div>


